body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	background-color: black;
	color: white;
}

#datetime {
	margin: 10px;
}

#date {
	font-size: 1em;
}

#time {
	font-size: 2em;
}

#info {
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: right;
}

#weather-message {
	position: absolute;
	top: 80px;
	right: 10px;
	text-align: right;
}
#location,
#weather {
	font-size: 1em;
	margin: 5px 0;
}

#weather {
	display: flex;
	align-items: center;
}

#weather-icon {
	width: 30px;
	height: 30px;
	margin-right: 5px;
}

#quotes {
	text-align: center;
	margin: auto;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#quote-item {
	font-size: 1.2em;
	transition: opacity 0.5s ease-in-out;
}

#quote-item.hidden {
	opacity: 0;
}

#quote-item.visible {
	opacity: 1;
}

#news {
	text-align: center;
	margin: 10px;
	position: absolute;
	bottom: 10px;
	width: 100%;
}

#news h2 {
	font-size: 1.5em;
}

#news-item {
	font-size: 0.6em;
	margin-top: 10px;
	transition: opacity 0.5s ease-in-out;
	left: 50%;
}

#news-item.hidden {
	opacity: 0;
}

#news-item.visible {
	opacity: 1;
}

#calendar {
	text-align: left;
	margin: 10px;
}

#calendar h2 {
	font-size: 1.5em;
}

#calendar-events {
	list-style-type: none;
	padding: 0;
}

#calendar-events li {
	font-size: 1em;
	margin: 5px 0;
}
